/* Item Page */
.page-content {
	max-width: 729px;
	float: left;
	width: 100%;
}
.leaderboard-abp {
    display: none;
}
#item-container {
    border: 2px solid #6e99c9;
    background-color: White;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    display: block;
    margin-top: 25px;
}
#item-container .item-name-container h1 {
    font: bold 8pt/normal Verdana,sans-serif;
    font-size: 16px;
    text-align: center;
    color: White;
    float: inherit;
    background-color: #6e99c9;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    display: block;
    position: absolute;
    top: -41px;
    left: -12px;
    width: 729px;
}
.item-details-thumbnail-container, #AssetThumbnail, .btr-preview-container-itempage {
    border: solid 1px #eee;
}
.item-type-field-container {
	position: absolute;
    top: 5px;
}
.item-type-field-container div {
	display: none;
}
.item-type-field-container span {
    font-size: 16px!important;
    color: #555!important;
    font-family: Verdana,Sans-Serif!important;
    letter-spacing: .15em!important;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.item-type-field-container span:before {
    content: "ROBLOX ";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-details {
    background-color: #fff;
    border: dashed 1px #555;
    padding: 7px;
    width: 251px;
    position: relative;
    left: -20px;
}
.item-name-container {  
    position: absolute;
}
.field-content {
    color: #555;
    font: normal 8pt/normal Verdana,sans-serif!important;
    width: unset;
}
.field-content a {
    font: normal 8pt/normal Verdana,sans-serif!important;
    color: #00F!important;
}
.item-field-container .text-subheader {
    color: #555;
    font: normal 8pt/normal Verdana,sans-serif!important;
    width: unset;
    padding-right: 4px;
}
.item-field-container .text-subheader:after {
    content: ":";
}
#item-details-description {
	border: solid 1px #555;
	font: normal 1em/normal Verdana,sans-serif;
	max-height: 136px;
	line-height: 18.1333px!important;
	padding: 4px;
	overflow: auto;
	text-align: left;
    width: 100%;
}
.price-container {
    margin-bottom: 12px;
    margin-top: 27px;
}
.price-container .btn-growth-lg {
    background-color: #fff;
    font-family: Verdana,Sans-Serif;
    font-size: 9.6px;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    border: solid 1px #777;
    color: #777;
    border-radius: 0px;
    width: 86px;
}.price-container .btn-growth-lg:after {
    content: " with R$";
}
.price-container .btn-growth-lg:hover {
    background-color: #49b745;
    border: solid 1px #000;
    text-decoration: underline;
}
.price-container .btn-growth-lg:active, .price-container .btn-growth-lg:focus {
    background-color: #6e99c9;
    border: solid 1px #000;
    color: #fff;
}
.price-container-text .price-label, .price-container-text .icon-robux-16x16 {
    display: none;
}
.icon-robux-price-container .text-robux-lg {
    color: Green;
    float: left;
    width: 100px;
    font: bold 8pt/normal Verdana,sans-serif;
}
.icon-robux-price-container .text-robux-lg:before {
    content: "R$: "
}
.price-container .action-button {
	position: relative;
	left: -40px;
	top: -4px;
}
.item-field-container {
  margin-top: 2px;
}
.toggle-target.item-field-container {
    margin-top: 15px;
}
.toggle-target.item-field-container .font-header-1 {
    margin-bottom: 2px;
}
.right-abp {
    margin-left: 9px;
    border: 1px solid black;
    width: 162px;
}
#item-context-menu button {
    position: absolute;
    top: -41px;
}
#item-container .btr-explorer-button-container, #item-container .btr-download-button {
    top: -39px;
}
.favorite-button-container {
    background-color: #fff;
    border-bottom: dashed 1px #555;
    border-left: dashed 1px #555;
    border-right: dashed 1px #555;
    padding: 5px;
    text-align: center;
    min-width: 0;
    overflow: hidden;
    width: 420px;
    margin-top: 0px;
    height: 24px;
}
#favorite-icon {
    display: none;
}
.favorite-button-container #result {
    font: normal 8pt/normal Verdana,sans-serif;
    color: #555;
    position: relative;
    top: -4px;
}
.favorite-button-container #result:hover {
    text-decoration: underline;
}
.favorite-button-container #result:active {
    color: #00F!important;
}
.favorite-button-container .tooltip-container[data-original-title="Add to Favorites"] #result:before {
    content: "Favorite | "
}
.favorite-button-container .tooltip-container[data-original-title="Remove from Favorites"] #result:before {
    content: "Unfavorite | "
}
.recommendations-header {
    background-color: #6e99c9;
    text-align: center;
    color: White;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    display: block;
    margin: 0px;
}
.recommendations-header h2 {
    width: 100%;
    padding: 0px;
}
.recommendations-header h2 span {
    text-align: center;
    color: White;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana,Sans-Serif;
}
.recommended-items-slider {
  float: inherit;
  border: 2px solid #6e99c9;
  background-color: White;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  display: block;
}
.recommendations-container .recommended-items-slider .item-card:nth-child(7), .recommendations-container .item-card-container .item-card-price {
  display: none;
}
.recommendations-container .recommended-items-slider .item-card {
    margin-right: 87px;
}
.recommendations-container .recommended-items-slider .item-card {
    width: 140px;
    height: 190px;
}
.recommended-items-slider .item-card-container .item-card-thumb-container, .recommended-items-slider .thumbnail-2d-container{
    background-color: transparent;
    border-color: transparent;
}
.recommended-items-slider .item-card-container .item-card-name span {
    color: #00F;
    font-family: Verdana,Sans-Serif;
    font-size: 10.6667px;
    line-height: 12px!important;
}
.recommended-items-slider .item-card-container .item-card-name {
    line-height: 12px;
}
.item-card-creator span {
    font-weight: bold;
    color: #555;
    font-family: Verdana,Sans-Serif;
    font-size: 10.6667px;
}
.item-card-creator span a {
    color: #00F!important;
    font-size: 10.6667px!important;
    position: relative;
    left: -2px;
}
.price-container .price-container-text .item-first-line {
    display: none;
}
.border-bottom.item-name-container div span {
    position: absolute;
    left: 442px;
    z-index: 5;
    top: 51px;
    font-weight: normal;
    width: 200px;
    font-size: 0px!important;
    height: 20px;
}
.border-bottom.item-name-container div span:before {
    content: "Creator: ";
    font-size: 10.6667px!important;
    color: #555;
    font-family: Verdana,Sans-Serif;
    font-weight: normal!important;
}
.border-bottom.item-name-container div span a {
    font-size: 10.6667px!important;
    color: #00F!important;
    font-family: Verdana,Sans-Serif;
}
.verified-badge-icon-item-details-author-container {
    display: none!important;
}
#item-container[data-item-type="Bundle"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-item-type="Bundle"] .item-type-field-container > span:after {
    content: "Package";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="Hat"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="Hat"] .item-type-field-container > span:after {
    content: "Hat";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="FaceAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="FaceAccessory"] .item-type-field-container > span:after {
    content: "Face Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="FrontAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="FrontAccessory"] .item-type-field-container > span:after {
    content: "Front Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="ShoulderAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="ShoulderAccessory"] .item-type-field-container > span:after {
    content: "Shoulder Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="NeckAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="NeckAccessory"] .item-type-field-container > span:after {
    content: "Neck Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="BackAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="BackAccessory"] .item-type-field-container > span:after {
    content: "Back Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="WaistAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="WaistAccessory"] .item-type-field-container > span:after {
    content: "Waist Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
#item-container[data-asset-type="HairAccessory"] .item-type-field-container > span {
    font-size: 0px!important;
}
#item-container[data-asset-type="HairAccessory"] .item-type-field-container > span:after {
    content: "Hair Acc.";
    font-size: 16px!important;
    letter-spacing: .15em;
}
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/all-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/all-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/develop/library"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/develop/library"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: -47px 1px;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/medieval-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/medieval-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: -16px 0;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/fighting-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/fighting-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: 0 16px;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/town-and-city-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/town-and-city-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: -32px 0;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/sports-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/sports-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: 49px 16px;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/comedy-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/comedy-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: 32px 0;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/adventure-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/adventure-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: unset;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/horror-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/horror-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: 49px 0;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/sci-fi-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/sci-fi-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: -32px 16px;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/military-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/military-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: 16px -3px;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/naval-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/naval-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: -16px 16px;
    }
    .clearfix.item-field-container .field-content > a[href="https://www.roblox.com/western-catalog"]:before, .clearfix.item-field-container .field-content > a[href="https://web.roblox.com/western-catalog"]:before {
        content: '';
        display: inline-block;
        background-image: url('/images/GenreIcons/GenreIconsSprite.png');
        height: 16px;
        width: 16px;
        background-position: 16px 15px;
    }
    .attribute-container > span:first-child, .icon-Music {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAgCAYAAADtwH1UAAACOElEQVRo3t2ayZKEIBBE+Wnv/vnMqTuQYKlcSmmNMGYRWslXUEXa5S9wlFIuZ8bR3mN1uu6X2ffT5jzPy//rv8td4p/n+b3x6HOQQblgswGIAqhFpwEo4vd+fwJAdDyzdkj/esztTwgAK8blZovoKaV8o2V0KgAi4veuO2ZAbyWQZkA0CmYRj0LIFr8NEjX40nIAOo2fBoAso2iClduolQnST4Fwh/hIjkkH8Hnoz+BV8RUId4m/DYCe+M5aHh3gqk8vz7DVmwMAMubiEt8JoG6z2jt0KwuhdFbKU3kG3CF+pAxkrtWg1F2ua1MKAVDEzwLQi+wZADXyo3uEUbu6aIAAqOK7lqCe+FEISsJGInsmPpmofUaXC8BoHzAaVB1APWhP+F0QANUddJWhjBUx+mwWguOAlqAMm5kVn8khmRY5E/3wDMh8qCy7YrbMzDaOo/bKKWukiOvYybLlYyso6/X8JIDjOJbJNOrlMLvY1mVEXdf6eWZCstdSATDizyCsXtD0ki5rH6B9XCLbACjijyCsBhjZ/KzAIX23BVCLP4rM6LqJQpiJGHlliPTdEkAb+aMBthVHK/oomiOzwLn8/BSA1bKjJuFIHkBzwmsAMOI7AUSXl1cCYMV3AYiadq8EoIjvABD95kKvLeJFbQlAFZ8BgBpYvc0Y40VtV4Y6xFcAsC/PZ7mCLUFvB7Cq87MBtH1QAKwVsQUAt8Xr+F5PxPxinjnSLst4s7qhiH3gftmx8pYQO/ppAP8ZkhJCl4MsrgAAAABJRU5ErkJggg==');
        background-size: unset;
        height: 16px;
        width: 16px;
    }
    .icon-Social {
      background-position: -48px -16px;
    }
    .icon-Navigation {
      background-position: -80px 0;
    }
    .icon-PowerUp {
      background-position: -16px -16px;
    }
    .icon-Melee {
      background-position: -48px 0;
    }
    .icon-Transport {
      background-position: 0 -16px;
    }
    .icon-Ranged {
      background-position: -32px -16px;
    }
    .icon-Building {
      background-position: unset;
    }
    .icon-Explosive {
      background-position: -16px 0;
    }
    .icon-Music {
        display: inline-block;
        background-position: 32px 0;
    }
.modal-dialog .modal-content {
    background-color:#ffd!important;
    border-width:3px;
    border-style:solid;
    border-color:Gray;
    padding:3px;
    box-shadow: 6px 5px black;
}
#simplemodal-overlay {
    background-color:Gray!important;
    filter: alpha(opacity=30)!important;
    opacity:.3!important;
}
.modal-dialog .modal-content .modal-header .close, .modal-dialog .modal-content .modal-body .modal-image-container {
    display: none;
}
.modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.modal-body {
    padding-top: 0px!important;
}
.light-theme .modal-dialog .modal-content .modal-top-body {
  margin-bottom: 20px;
}
.modal-message, .modal-header > h5, .modal-message .font-bold, .modal-dialog .modal-body .modal-message-block {
    font-family: Verdana,Helvetica,Sans-Serif;
    font-size: 10.6667px!important;
    color:#000;
    border: none;
    text-align: left;
}
.modal-dialog .modal-body .item-preview {
    display: none;
}
.modal-header > h5 {
    font-weight: bold!important;
}
.modal-dialog .modal-content .modal-body .modal-btns #confirm-btn, .modal-dialog .modal-content .modal-body .modal-btns #decline-btn {
    background-color:#F5CD2F;
    border-radius: 0px;
    font-family: Verdana,Helvetica,Sans-Serif;
    font-weight: bold;
    color:#000;
    margin-left:10px;
    width: 350px;
    border-color: grey;
}
.modal-dialog .modal-content .modal-body .modal-btns #confirm-btn {
    margin-bottom: 25px;
}
.modal-dialog .modal-content .modal-body .modal-btns #confirm-btn:hover, .modal-dialog .modal-content .modal-body .modal-btns #decline-btn:hover {
    background-color:#FF9A23;
}
.light-theme .modal-dialog .modal-content .modal-top-body .icon-robux-16x16, .modal-dialog .modal-body .modal-message-block .icon-robux-gray-16x16 {
    visibility: hidden;
    font-size: 0px;
    position: relative;
    top: 1px;
}
.light-theme .modal-dialog .modal-content .modal-top-body .text-robux, .modal-dialog .modal-body .modal-message-block .text {
    color: black;
    font-family: Arial,Helvetica,sans-serif;
}
.light-theme .modal-dialog .modal-content .modal-top-body .icon-robux-16x16:after, .modal-dialog .modal-body .modal-message-block .icon-robux-gray-16x16:after {
    font-size: 12px;
    content: "R$";
    font-family: Verdana,Sans-Serif;
    visibility: visible;
}
.modal-dialog .modal-content .modal-footer {
    display: none;
}
.modal-dialog .modal-body a.terms-of-use-link {
    color: blue;
    text-decoration: none;
}
.modal-dialog .modal-body a.terms-of-use-link:hover {
    text-decoration: underline;
}
.icon-plus, .item-name-container .label-checkmark {
    display: none;
}
.recommendations-container .recommended-items-slider:before {
    content: "Here are some other items that we think you might like.";
    font-size: x-small;
    color: #555;
    font-family: Verdana,Sans-Serif;
}
.recommended-creator-container {
	position: relative;
	top: -3px;
}
#AjaxCommentsContainer .container-header h3 {
    font-size: 16px;
    font-family: Verdana,Sans-Serif;
    font-weight: normal;
    letter-spacing: 2.4px;
    margin: 0 0 .5em 0;
    padding-left: 5px;
    padding-right: 5px; 
    padding-bottom: 0px;
    color: black;
    background: url('data:image/gif;base64,R0lGODlhAQAVAJEAAOaLLP/HPP/IPP///ywAAAAAAQAVAAAIDQABCAgwoKDBgwgNBgQAOw==') repeat-x;
    z-index: 3;
    position: relative;
}
#AjaxCommentsContainer .container-header h3:before {
	content: "";
	display: inline-block;
	background: url('data:image/gif;base64,R0lGODlhAwAVALMAAOuXLu6fMfm4OPm5OP/HPN2hU5GbnOHGjv///wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAA8ALAAAAAADABUAAAQT8B1wwiiCGIR2514Ijl8pmuTpRQA7') no-repeat;
	width: 3px;
	height: 21px;
	position: relative;
	left: -8px;
    z-index: 3;
}
#AjaxCommentsContainer .container-header h3:after {
	content: "";
	display: inline-block;
	background: url('data:image/gif;base64,R0lGODlhBAAVALMAAO6fMeSXPPm4OPu+Of/HPN2hU5GbnN3CjeHGjv///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAA8ALAAAAAAEABUAAAQZMJz3BkCPiPJSMt0Xgh4plmOKrmdrvqprRAA7') no-repeat;
	width: 3px;
	height: 21px;
	position: relative;
	right: -8px;
    z-index: 3;
}
#AjaxCommentsContainer .AddAComment {
	background-color: rgb(255, 255, 255);
	position: relative;
	border: 1px solid #919B9C;
	top: -20px;
    left: -3px;
}
#AjaxCommentsContainer .comments.vlist {
    border: dashed 1px #555;
}
.comments-container .comment-item {
    border: none;
}
.comments-container .comment-item:nth-child(2n) {
    background-color: #eee;
}
.attribute-container span {
    font: normal 8pt/normal Verdana,sans-serif !important;
}
.price-container .btn-growth-lg[data-expected-price="0"] {
    font-size: 0px!Important;
    height: 20px;
}
.price-container .btn-growth-lg[data-expected-price="0"]:hover {
    background-color: #6e99c9;
}
#item-container[data-expected-price="0"] .price-container .action-button .btn-growth-lg:before {
    content: "Free";
    color: Blue;
    font-weight: bold;
    font-family: Verdana,Sans-Serif;
    font-size: 10.6667px;
    position: absolute;
    left: -108px;
}
.price-container .btn-growth-lg[data-expected-price="0"]:after {
    font-size: 9.6px!Important;
    content: "Take one!";
    position: relative;
    top: 2px;
}
.btr-icon-explorer, .btr-icon-download, .btr-icon-content {
    filter: invert(48%) sepia(79%) saturate(0%) hue-rotate(90deg) brightness(118%) contrast(300%);
}
.btn-growth-lg[disabled] {
    visibility: hidden;
}
.btn-control-md[title="Quick Item Equip"] {
    display: none;
}
.price-container-text .small.text {
    font-size: 0px!important;
}
.price-container-text .small.text:after {
    content: "Builders Club Only";
    color: #555;
    font-family: Verdana,Sans-Serif;
    font-size: 10.6667px!important;
    font-weight: bold;
    display: block;
    width: 120px;
}
.left-align-container span {
    display: none;
}